@charset "UTF-8";

body{
    background-color: rgb(104, 204, 250);
    font: normal 15pt arial;
    text-align: center;
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.466);
}

#aisatsu{
    padding-bottom: 10px;
    font-size: 1.5em
}

#msg{
    text-align: center;
    padding-bottom: 20px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: bold;
}

#foto{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
